<!--sub-template для отображения запроса в друзья-->
<table>
    <tr valign="top">
        <td bgcolor="#a9a9a9"> <a href="{{ url_for('user_profile', nickname = friend.nickname) }}"><img src="{{ friend.userpic }}"></a> </td> <!--картинка-->
        <td bgcolor="#a9a9a9"> <a href="{{ url_for('user_profile', nickname = friend.nickname) }}">{{ friend.username}} {{friend.surname}}</a> </td>
    </tr>
    <tr>
        <td><p><a href="{{ url_for('accept_request', nickname = friend.nickname) }}">Accept friend request</a></p></td>
        <td><p><a href="{{ url_for('reject_request', nickname = friend.nickname) }}">Reject friend request</a></p></td>
    </tr>
</table>
<hr>