<!--добавление желания пользователя-->

{% extends "base.html" %}

{% block content %}
    <h1>Add new wish</h1>
    <!--форма добавления желания-->
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %} <!--для отображения ошибок-->
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(size=64) }}<br>
            {% for error in form.about.errors %} <!--для отображения ошибок-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.access_level.label }}<br>
            {{ form.access_level(size=32) }}<br>
            {% for error in form.access_level.errors %} <!--для отображения ошибок-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.picture.label }}<br>
            {{ form.picture(size=32) }}<br>
            {% for error in form.picture.errors %} <!--для отображения ошибок-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.degree.label }}<br>
            {{ form.degree }}<br>
            {% for error in form.degree.errors %} <!--для отображения ошибок-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

 {% endblock %}