{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.oldPassword.label }}<br>
            {{ form.oldPassword(size=32) }}<br>
            {% for error in form.oldPassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.newPassword1.label }}<br>
            {{ form.newPassword1(size=32) }}<br>
            {% for error in form.newPassword1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.newPassword2.label }}<br>
            {{ form.newPassword2(size=32) }}<br>
            {% for error in form.newPassword2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}