<!--отображие списка друзей пользователя-->
{% extends "base.html" %}

{% block content %}
    <h1> Friends request</h1>
    {% if requests %}
        {% for request in requests %}
            {% include '_friend_request.html' %}
        {% endfor %}
    {% else %}
        No new requests for friendship have been received
    {% endif %}
    <h1> Your friends</h1>
    {% if friends %}
        {% for friend in friends %}
            {% include '_friend.html' %}
        {% endfor %}
    {% else %}
    You don't have friends yet :( Search your friends!
    {% endif %}

{% endblock %}