{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Hi, {{ current_user.nickname }}!</h1>
        <br>
    {% else%}
        <h1>Welcome to Wishlist!</h1>
        <br>
    {% endif %}
<h3> Last wishes of all users:  </h3>
    <!--отображение открытых желаний всех пользователей-->
    {% if wishes %}
        {% for wish_item in wishes %}
            {% include '_wish.html' %}
        {% endfor %}
    {% else %}
        Users have not created wishes yet
    {% endif %}
{% endblock %}