<!--отображение желаний, которые собирается исполнять пользователь -->
{% extends "base.html" %}

{% block content %}
    <h2> Your presents </h2>
    {% if presents %}
        <table>
        {% for wish_item in presents %}
            <tr valign="top">
                <td bgcolor="#a9a9a9"><a href="{{ url_for('user_profile', nickname = nickname) }}"> {{ nickname }} </a></td> <!--профиль пользователя-->
                <td bgcolor="#a9a9a9"><img src="{{ wish_item.picture }}"></td> <!--картинка-->
                <td bgcolor="#a9a9a9"><p><a href="{{ url_for('wish_item', item_id = wish_item.id) }}"> {{ wish_item.title}} </a></p></td> <!--заголовок-->
            </tr>
        {% endfor %}
        </table>
    {% else %}
        You are not going to give anything
    {% endif %}
    <hr>
{% endblock %}