<!--отображение содержимого желания-->
{% extends "base.html" %}

{% block content %}
    {% if wish %}
        <h1>{{ wish.title }}</h1>
        <table>
            <tr valign="top">
                <td bgcolor="#a9a9a9"><img src="{{ wish.picture }}" width="50" height="50"></td> <!--картинка-->
                <td bgcolor="#a9a9a9"> {{ wish.about }} </td> <!--описание-->
                <td bgcolor="#a9a9a9"> <p>Degree of desire for a wish: {{ degree }}</p> </td>
            </tr>
            {% if current_user.nickname == nickname and wish.giver_id is none%} <!--запрет на редактирование, если giver_id уже есть-->
            <tr>
                <td bgcolor="#a9a9a9"><p><a href="{{ url_for('edit_wish', item_id=wish.item_id) }}"> Edit wish </a></p></td> <!--редактировать-->
                <td bgcolor="#a9a9a9"><p><a href="{{ url_for('delete_wish', item_id=wish.item_id) }}"> Delete wish </a></p> </td> <!--удалить желание-->
            </tr>
            {% else %}
                {% if current_user.nickname != nickname and wish.giver_id is none%}
                    <tr>
                        <td bgcolor="#a9a9a9"><p><a href="{{ url_for('make_wish', item_id=wish.item_id) }}"> Make wish comes true </a></p> </td> <!--исполнить (зарезервировать) желание-->
                    </tr>
                {% endif %}
            {% endif %}
        </table>
    {% else %}
        This wish was not found
    {% endif %}
    <hr>
{% endblock %}