{% extends "base.html" %}

{% block content %}
    <!--TODO собрать профиль-->
    <table> <!--аватар пользователя-->
        <tr valign="top">
            <td><img src="{{ user.userpic }}"></td>
            <td>
                <h1>User: {{ user.nickname }}</h1>
                {% if user.about %}<p>{{ user.about }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if wish %}
        <!--{% include '_wish.html' %}-->
    {{% else %}}
        This user has no wishes yet
    {% endif %}
    <hr>
{% endblock %}