{% extends "base.html" %}

{% block content %}
    <table> <!--аватар пользователя-->
        <tr valign="top">
            <td> <img src="{{url_for('static',filename='images/userpic.png')}}"> </td>
            <td>
                {% if user %}
                <h1>User: {{ user.nickname }}</h1>
                {% if user.about %}<p>{{ user.about }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}

                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                <p><a href="{{ url_for('change_password') }}">Change Password</a></p>
                {% else %}
                    {% if current_user.is_friend(user.user_id) %}
                    <!--если пользователь друг-->
                    <p><a href="{{ url_for('delete_friend', nickname = user.nickname) }}">Delete from friends</a></p>
                    {% else %}
                        {%if current_user.is_request(user.user_id) %}
                        <!--запрос на дружбу уже отправлен-->
                        <p><a href="{{ url_for('cancel_request', nickname = user.nickname) }}">Cancel request for friendship</a></p>
                        {% else %}
                        <!--запрос на дружбу еще не отправлен-->
                        <p><a href="{{ url_for('add_friend', nickname = user.nickname) }}">Send request for friendship</a></p>
                        {% endif %}
                    {% endif %}

                {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
     <p><a href="{{ url_for('all_item', nickname = user.nickname) }}"> {{ user.nickname }}'s wishlists and wishes</a></p>
{% endblock %}